/* Stile generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile main*/

.container-main{
    margin: 0 auto;
    max-width: 85%;
}

.titolo{
    width: 400px;
}

.info{
    width: 150px;
}

/* mobile*/
@media screen and (max-width:668px) {
    td:nth-child(2), th:nth-child(2){
        display: none;
    }
}
